---
const { company, position, logo, description, from, to } = Astro.props
---

<li class="flex gap-4 mb-6">
  {logo ? <img class="logo" src={logo} /> : <div class="logo bg-slate-200"></div>}
  <div class="flex flex-col">
    <h4 class="font-bold text-xl">{company}</h4>
    <div class="flex flex-col md:flex-row font-normal">
      <p>{position}</p>
      <span class="md:ml-6">{from} - {to}</span>
    </div>
    {description && <p class="font-light text-sm mt-2">{description}</p>}
  </div>
</li>
<style>
  .logo {
    border-radius: 32px;
    height: 60px;
    width: 60px;
  }
</style>
