---
import PortableText from './PortableText.astro'

const { company, position, logo, descriptionRaw, from, to } = Astro.props

const logoUrl = logo?.asset?.url
---

<li class="flex gap-4 mb-6">
  {
    logo ? (
      <img class="logo" width="60" height="60" src={logoUrl} alt={company} />
    ) : (
      <div class="logo bg-slate-200" />
    )
  }
  <div class="flex flex-col">
    <h4 class="font-bold text-xl">{company}</h4>
    <div class="flex flex-col md:flex-row font-normal">
      <p>{position}</p>
      <span class="md:ml-6">{from} - {to}</span>
    </div>
    {
      descriptionRaw && (
        <div class="font-light leading-7 text-md mt-4">
          <PortableText portableText={descriptionRaw} />
        </div>
      )
    }
  </div>
</li>
<style>
  .logo {
    border-radius: 32px;
    height: 60px;
    min-width: 60px;
    aspect-ratio: 1 / 1;
    object-fit: contain;
  }
</style>
