---
import Seo from "src/components/Seo.astro";

const { title, description } = Astro.props;
---

<head>
  <meta charset="UTF-8" />
  <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
  <meta name="viewport" content="width=device-width" />
  <meta name="generator" content={Astro.generator} />
  <meta name="description" content={description} />
  <title>{title}</title>
  
  <Seo {title} {description} />

  <link href="https://fonts.cdnfonts.com/css/lato" rel="stylesheet" />
  <link href="https://fonts.cdnfonts.com/css/montserrat" rel="stylesheet" />
</head>
